{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_gwpayments/payment_region

    This template will render information about course payment along with a button for payment.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-component
    * data-paymentarea
    * data-itemid
    * data-cost
    * data-description
    * data-successurl

    Context variables required for this template:
    * cost - Human readable cost string including amount and currency
    * instanceid - Id of the instance
    * description - The description for this purchase
    * successurl - The URL of the course

    Example context (json):
    {
        "cost": "$108.50",
        "instanceid": 11,
        "component": "mod_gwpayments",
        "paymentarea": "fee",
        "description": "Enrolment in course Introduction to algorithms",
        "successurl": "https://moodlesite/course/view.php?id=2",
        "isguestuser": false,
        "disablepaymentbutton": false,
        "hasnotifications": false,
        "notifications": []
    }

}}
<div class="mod_gwpayments_payment_region text-center">
    {{#isguestuser}}
        <div class="mdl-align">
            <p>{{# str }} paymentrequired, mod_gwpayments {{/ str}}</p>
            <p><b>{{cost}}</b></p>
            <p><a href="{{config.wwwroot}}/login/">{{# str }} loginsite {{/ str }}</a></p>
        </div>
    {{/isguestuser}}
    {{^isguestuser}}
    {{#hasnotifications}}
    {{#notifications}}
    <div class="alert alert-warning">{{{.}}}</div>
    {{/notifications}}
    {{/hasnotifications}}
    <div class="mod_gwpayments-paymentoption">
        <p>{{# str }} paymentrequired, mod_gwpayments {{/ str}}</p>
        <p class="mod-gwpayments-basecost"><b>{{#str}}cost{{/str}}: {{currency}} {{localisedcost}}</b></p>
        <button
            class="btn btn-secondary"
            type="button"
            id="gateways-modal-trigger-{{instanceid}}{{ uniqid }}"
            data-action="core_payment/triggerPayment"
            data-component="{{component}}"
            data-paymentarea="{{paymentarea}}"
            data-itemid="{{instanceid}}"
            data-cost="{{cost}}"
            data-successurl="{{successurl}}"
            data-description={{# quote }}{{description}}{{/ quote }}
            {{#disablepaymentbutton}} disabled="disabled"{{/disablepaymentbutton}}
        >
            {{# str }} sendpaymentbutton, mod_gwpayments {{/ str }}
        </button>
    </div>
    {{/isguestuser}}
</div>
{{^disablepaymentbutton}}
{{#js}}
    require(['core_payment/gateways_modal'], function(modal) {
        modal.init();
    });
{{/js}}
{{/disablepaymentbutton}}
